.background {
    background-image: url(./assets/background.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 76vh;
    width: 100%;
  }

  .fix-it{
    z-index: 1;
  }

  .over-the-top{
    z-index: 2;
    border-radius: 0.9rem;
    box-shadow: 2px 2px 10px 1px #333;
  }